* {
    background-color:#F5EFED;
    color: #0069D2;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #F5EFED;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #0069D2;
    border-radius: 10px;
  }

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    margin-bottom: 60px;
}
#input-form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-bottom: 30px;
    
}

#city-input {
    display: flex;
    flex-direction: row;
    align-items: center;
}

input {
    border: none;
    border-bottom: solid 2px black;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
}

input:focus, textarea:focus, select:focus{
    outline: none;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
}

#weather-box{
    display: flex;
    align-items: center;
    justify-content: center;
}

#current-weather-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: #0069D2 solid;
    width: 300px;
    height: 200px;
    border-radius: 30px;
    background: #f5efed;
    box-shadow:  21px 21px 41px #bfbab9,
                -21px -21px 41px #ffffff;
}

#forecast-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
}

.card {

    width: 15%;
    height: 300px;
    border: #0069D2 solid;
    border-radius: 50px;
    background: #f5efed;
    box-shadow:  21px 21px 41px #bfbab9,
                -21px -21px 41px #ffffff;
}